<!-- router-trasitions -->
<div class="trasition-wrapper"></div>
<div class="trasition-wrapper second-layer" style="background-color: #ffffff;"></div>
<!-- #Section 01 -->
<section id="section-01" class="dark gradient">
  <div class="container row">
    <div class="half-col d-flex" data-aos="fade" data-aos-delay="1500">
      <h1 [innerHTML]="'general.careers_title' | translate"></h1>
      <p style="max-width: 480px;">Lorem Ipsum is simply dummy text of  printing typesetting industry Lorem Ipsum.</p>
      <button class="btn light-fill lg-btn">{{ 'general.schedule_consultation' | translate }}</button>
    </div>
    <div class="half-col" data-aos="fade-left" data-aos-delay="2000">
      <img width="100%" height="auto" src="assets/images/services-section-001.png">
    </div>
  </div>
  <div class="container numbers-container row" data-aos="fade-up" data-aos-delay="2500">
    <div class="four-col numbers-wrapper">
      <span appCountUpNumbers class="numbers" [countUp]="34349" [duration]="5000" [symbol]="'+'" [number_delay]="2500"></span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span appCountUpNumbers class="numbers" [countUp]="72" [duration]="5000" [symbol]="'%'" [number_delay]="2500"></span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span appCountUpNumbers class="numbers" [countUp]="462" [duration]="5000" [symbol]="'+'" [number_delay]="2500"></span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span appCountUpNumbers class="numbers" [countUp]="83" [duration]="5000" [symbol]="'%'" [number_delay]="2500"></span>
      <p>Lorem Ipsum</p>
    </div>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02" class="image-parallax-card" style="background-image: url('assets/images/image-parallax-jobs-form.png'); margin-top: 77px;">
  <div class="content">
    <div class="container text-center" style="display: block;" data-aos="fade" data-aos-delay="600">
      <h2 class="md" [innerHTML]="'general.jobs_section_title' | translate"></h2>
      <p class="md">{{ 'general.jobs_section_text' | translate }}</p>
    </div>
    <div class="form-wrapper" style="max-width: 710px;" data-aos="fade-down" data-aos-delay="1000">
      <div class="container">
        <div class="half-col input-wrapper">
          <label for="">{{ 'forms.name' | translate }}<span>*</span></label>
          <input type="text">
        </div>
        <div class="half-col input-wrapper">
          <label for="">{{ 'forms.last_name' | translate }}<span>*</span></label>
          <input type="text">
        </div>
      </div>
      <div class="container" style="margin-top: 18px;">
        <div class="half-col input-wrapper">
          <label for="">{{ 'forms.email' | translate }}<span>*</span></label>
          <input type="text">
        </div>
        <div class="half-col input-wrapper">
          <label for="">{{ 'forms.option_to_apply' | translate }}<span>*</span></label>
          <input type="text">
        </div>
      </div>
      <div class="container form-actions" style="justify-content: center;">
        <button class="btn accent lg-btn" style="width: 244px;">{{ 'general.postulate' | translate }}</button>
        <p [innerHTML]="'forms.client_login_text' | translate"></p>
      </div>
    </div>
  </div>
</section>
<!-- #Section 03 -->
<section id="section-03" class="light">
  <div class="container row">
    <div class="half-col d-flex" data-aos="fade-right" data-aos-delay="600">
      <h2 style="max-width: 575px;">Lorem Ipsum is simply duy text of the printing <span class="accent-color">and typesetting industry.</span></h2>
      <p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised.</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>{{ 'general.see_more' | translate }}</i>
      </span>
    </div>
    <div class="half-col" data-aos="fade-left" data-aos-delay="600">
      <img width="100%" height="auto" src="assets/images/services-section-one-005-image.png">
    </div>
  </div>
</section>