#section-01 {
  button {
    margin-top: 40px;
  }
}

#section-02 {
  &::before {
    background: linear-gradient(0deg, #081B30 0%, rgba(29, 52, 75, 0.5) 100%);
  }
  .form-wrapper {
    margin-top: 14px;
  }
  @media (max-width: 768px) {
    min-height: 864px;
  }
}