<footer>
  <div class="container">
    <div class="logo">
      <img src="assets/images/hercules-light-logo.svg" alt="Hercules Consulting">
    </div>
    <div class="contact-flex">
      <div class="contact-wrapper">
        <img src="assets/images/icon-phone.svg">
        <b>{{ 'general.phone' | translate }}:</b>  
        +34 123 456 789
      </div>
      <div class="separator"></div>
      <div class="contact-wrapper">
        <img src="assets/images/icon-mail.svg">
        <b>{{ 'general.emails' | translate }}:</b>  
        {{ 'loremipsum@gmail.com' }}
      </div>
    </div>
    <div class="social-wrapper">
      <img src="assets/images/icon-facebook.svg" alt="Hercules Consulting Facebook">
      <img src="assets/images/icon-twitter.svg" style="margin: 0 20px;" alt="Hercules Consulting Twitter">
      <img src="assets/images/icon-instagram.svg" alt="Hercules Consulting Instagram">
    </div>
  </div>
</footer>
<div class="copy-r-wrapper">
  <a href="#">{{ 'general.privacy_policy' | translate }}</a>
  <a href="#">{{ 'general.terms_of_use' | translate }}</a>
</div>