<!-- #Section 00 -->
<section id="section-00" class="light">
  <div class="container row">
    <div class="half-col d-flex">
      <h1>Forma<span class="accent-color">ción</span></h1>
      <p style="max-width: 480px;">Nuestros cursos abarcan desde talleres intensivos hasta programas de capacitación continua.</p>
      <button class="btn accent lg-btn">Planificar una consulta</button>
    </div>
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/training-section-image-00.png">
    </div>
  </div>
</section>
<!-- #Section 01 -->
<section id="section-01" class="image-parallax-card" style="background-image: url('/assets/images/image-parallax-training.png')">
  <div class="content">
    <h2>Descubre el contenido <i class="accent-color">que ofrecemos</i></h2>
    <p>Materiales actualizados y ejercicios prácticos para una experiencia de aprendizaje enriquecedora.</p>
    <span class="icon-link">
      <img src="assets/images/icon-accent-circle-arrow.svg">
      <i>lorem ipsum is simply dummy </i>
    </span>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02">
  <div id="company-training" class="container">
    <h2 class="section-title">Nuestra <i class="accent-color">Formación</i></h2>
  </div>
  <app-info-card [data]="trainingData" />
</section>
<!-- #Section 03 -->
<section id="section-03" class="dark">
  <div class="container row">
    <div class="half-col d-flex">
      <h2 style="max-width: 575px;">Nuestra <i class="accent-color">Inscripción</i></h2>
      <p style="max-width: 500px;">Regístrate fácilmente a través de nuestro portal en línea y comienza tu viaje de aprendizaje.</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>lorem ipsum is simply dummy text printing</i>
      </span>
    </div>
    <div class="half-col">
      <img class="r-img" width="100%" height="auto" src="assets/images/image-registration-00.png">
      <div class="white-skew mobile-hidden"></div>
    </div>
  </div>
</section>
<!-- #Section 04 -->
<section id="section-04" class="light">
  <div class="container row">
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/services-section-one-005-image.png">
    </div>
    <div class="half-col d-flex">
      <h2 style="max-width: 575px;">Lorem Ipsum is simply duy text of the printing <span class="accent-color">and typesetting industry.</span></h2>
      <p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised.</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>Ver más</i>
      </span>
    </div>
  </div>
</section>