<!-- #Section 00 -->
<section id="section-00" class="light">
  <div class="container row">
    <div class="half-col d-flex">
      <h1>Forma<span class="accent-color">ción</span></h1>
      <p style="max-width: 480px;">Nuestros cursos abarcan desde talleres intensivos hasta programas de capacitación continua.</p>
      <button class="btn accent lg-btn">Planificar una consulta</button>
    </div>
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/training-section-image-00.png">
    </div>
  </div>
</section>
<!-- #Section 01 -->
<section id="section-01" class="image-parallax-card">
  <div class="content">
    <h2>Descubre el contenido <i class="accent-color">que ofrecemos</i></h2>
    <p>Materiales actualizados y ejercicios prácticos para una experiencia de aprendizaje enriquecedora.</p>
    <span class="icon-link">
      <img src="assets/images/icon-accent-circle-arrow.svg">
      <i>lorem ipsum is simply dummy </i>
    </span>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02">
  <div id="company-training" class="container">
    <h2 class="section-title">Nuestra <i class="accent-color">Formación</i></h2>
  </div>
  <app-info-card [data]="trainingData" />
</section>