<!-- #Section 00 -->
<section id="section-00" class="light">
  <div class="container row">
    <div class="half-col d-flex">
      <h1>Forma<span class="accent-color">ción</span></h1>
      <p style="max-width: 480px;">Nuestros cursos abarcan desde talleres intensivos hasta programas de capacitación continua.</p>
      <button class="btn accent lg-btn">Planificar una consulta</button>
    </div>
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/training-section-image-00.png">
    </div>
  </div>
</section>