<!-- router-trasitions -->
<div class="trasition-wrapper"></div>
<div class="trasition-wrapper second-layer"></div>
<!-- #Section 00 -->
<section id="section-00" class="light">
  <div class="container row">
    <div class="half-col" data-aos="fade-right" data-aos-delay="2000">
      <img width="100%" height="auto" src="assets/images/recruitment-section-image-00.png">
    </div>
    <div class="half-col d-flex" data-aos="fade" data-aos-delay="1500">
      <h1 [innerHTML]="'general.recruitment_title' | translate"></h1>
      <p style="max-width: 480px;">{{ 'general.text_8' | translate }}</p>
      <button routerLink="../contact" class="btn accent lg-btn">{{ 'general.schedule_consultation' | translate }}</button>
    </div>
  </div>
</section>
<!-- #Section 01 -->
<section id="section-01" class="image-parallax-card" style="background-image: url('assets/images/image-parallax-recruitment.png')">
  <div class="content" data-aos="fade-down" data-aos-delay="600">
    <h2 [innerHTML]="'general.our_methodologies' | translate"></h2>
    <p>{{ 'general.our_methodologies_text' | translate }}</p>
    <!-- <span class="icon-link">
      <img src="assets/images/icon-accent-circle-arrow.svg">
      <i>lorem ipsum is simply dummy </i>
    </span> -->
  </div>
</section>
<!-- #Section 01 -->
<section id="section-01" class="dark">
  <br><br>
  <div class="container text-center" data-aos="fade"  data-aos-delay="600">
    <h2 [innerHTML]="'general.our_methodologies' | translate" style="width: 100%;"></h2>
  </div>
  <div class="container text-center" data-aos="fade"  data-aos-delay="600">
    <p style="max-width: 600px; margin: 2rem auto;">{{ 'general.our_methodologies_text' | translate }}</p>
  </div>
  <div class="content" data-aos="fade-down" data-aos-delay="600">
    <div id="company-values-carousel" class="container carousel-wrapper" style="display: block;">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="carousel-slide-wrapper dynamic_box" data-aos="fade-down" data-aos-delay="200">
            <img class="auto-img" src="assets/images/image-fortalezas.png">
            <h2>{{ 'general.text_9' | translate }}</h2>
            <p>{{ 'general.text_13' | translate }}</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="carousel-slide-wrapper dynamic_box" data-aos="fade-down" data-aos-delay="500">
            <img class="auto-img" src="assets/images/image-valores.png">
            <h2>{{ 'general.text_10' | translate }}</h2>
            <p>{{ 'general.text_14' | translate }}</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="carousel-slide-wrapper dynamic_box" data-aos="fade-down" data-aos-delay="800">
            <img class="auto-img" src="assets/images/image-expertise-clave.png">
            <h2>{{ 'general.text_11' | translate }}</h2>
            <p>{{ 'general.text_15' | translate }}</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="carousel-slide-wrapper dynamic_box" data-aos="fade-down" data-aos-delay="800">
            <img class="auto-img" src="assets/images/image-expertise-clave.png">
            <h2>{{ 'general.text_12' | translate }}</h2>
            <p>{{ 'general.text_16' | translate }}</p>
          </div>
        </ng-template>
      </owl-carousel-o>
      <!-- <button routerLink="careers" class="btn accent md-btn" style="margin: 2rem auto;">{{ 'navbar.about_us' | translate}}</button> -->
    </div>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02">
  <div id="company-training" class="container" data-aos="fade" data-aos-delay="600">
    <h2 class="section-title text-center" [innerHTML]="'general.our_recruitment_title' | translate" style="max-width: 800px;"></h2>
  </div>
  <app-info-card [data]="recruitmentData" />
</section>
<!-- #Section 03 -->
<section id="section-03" class="dark skew-section-image">
  <div class="container row">
    <div class="half-col d-flex" data-aos="fade-left" data-aos-delay="600">
      <h2 style="max-width: 575px;" [innerHTML]="'general.our_explanation_title' | translate"></h2>
      <p style="max-width: 500px;">{{ 'general.our_explanation_text' | translate }}</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i [innerHTML]="'general.text_3' | translate"></i>
      </span>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i [innerHTML]="'general.text_4' | translate"></i>
      </span>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i [innerHTML]="'general.text_5' | translate"></i>
      </span>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i [innerHTML]="'general.text_6' | translate"></i>
      </span>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i [innerHTML]="'general.text_7' | translate"></i>
      </span>
    </div>
    <div class="half-col">
      <img class="absolute-img r-img" width="100%" height="auto" src="assets/images/image-explanation-00.png" data-aos="fade-right" data-aos-delay="600">
      <div class="white-skew r-skew mobile-hidden"></div>
    </div>
  </div>
</section>
<!-- #Section 04 -->
<section id="section-04" class="light">
  <div class="container row">
    <div class="half-col" data-aos="fade-right" data-aos-delay="600">
      <img width="100%" height="auto" src="assets/images/services-section-one-005-image.png">
    </div>
    <div class="half-col d-flex" data-aos="fade-left" data-aos-delay="600">
      <h2 style="max-width: 575px;">Lorem Ipsum is simply duy text of the printing <span class="accent-color">and typesetting industry.</span></h2>
      <p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised.</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>{{ 'general.see_more' | translate }}</i>
      </span>
    </div>
  </div>
</section>
<!-- #Section 05 -->
<section id="section-05" class="dark skew-section-image" style="margin-bottom: 75px;">
  <div class="container row">
    <div class="half-col">
      <img class="absolute-img l-img" width="100%" height="auto" src="assets/images/image-success-00.png" data-aos="fade-right" data-aos-delay="600">
      <div class="white-skew l-skew mobile-hidden"></div>
    </div>
    <div class="half-col d-flex l-content" data-aos="fade-left" data-aos-delay="600">
      <h2 style="max-width: 575px;" [innerHTML]="'general.success_metrics' | translate"></h2>
      <p style="max-width: 500px;">{{ 'general.success_metrics_text' | translate }}</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>lorem ipsum is simply dummy text printing</i>
      </span>
    </div>
  </div>
</section>
<!-- #Section 06 -->
<section id="section-06" class="light gray">
  <div id="company-clients-videos" class="container" data-aos="fade" data-aos-delay="600">
    <h2 class="section-title" [innerHTML]="'general.our_clients_say_title' | translate"></h2>
  </div>
  <div class="container row text-center" style="flex-wrap: wrap;">
    @for (video of reviewsVideosData.slice(0, videosLimit); track video.id) {
      <div class="four-col" data-aos="fade-left" data-aos-delay="500">
        <iframe class="video-wrapper" width="95%" height="315" [src]="video.url | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    }
  </div>
  <div class="container" style="justify-content: center;" data-aos="fade" data-aos-delay="600">
    <button class="btn accent lg-btn" style="margin: 20px 0;" (click)="videosLimit < reviewsVideosData.length ? videosLimit = videosLimit + 4 : videosLimit = reviewsVideosData.length">{{ 'general.see_more_reviews' | translate }}</button>
  </div>
</section>