#section-00 {
  background-image: url('../../../assets/images/image-section-bg-pattner.png');
  background-size: cover;
  background-repeat: no-repeat;
  .input-wrapper {
    margin-top: 40px;
    width: 100%;
    display: flex;
    gap: 18px;
    position: relative;
    .search-button {
      position: absolute;
      left: 22px;
      top: 16px;
      cursor: pointer;
    }
    input {
      background-color: #EFEFEF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
      border: none;
      border-radius: 10px;
      width: 100%;
      max-width: 406px;
      height: 50px;
      padding: 16px 22px 16px 56px;
      box-sizing: border-box;
    }
    button {
      width: 150px;
      height: 50px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
      font-size: 16px;
    }
  }
}


#section-04 {
  padding-bottom: 90px;
  #company-articles {
    h2 {
      max-width: 800px;
      text-align: center;
      margin: 45px auto 90px auto;
    }
  }
}

#section-05 {
  #company-testimonials {
    h2 {
      max-width: 800px;
      text-align: center;
      margin: 94px auto 45px auto;
    }
  }
  #company-testimonials-carousel {
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 0 75px;
    box-sizing: border-box;
    @media (max-width: 576px) {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}