<!-- #Section 00 -->
<section id="section-00" class="light">
  <div class="container row">
    <div class="half-col d-flex">
      <h1>Blog</h1>
      <p style="max-width: 480px;">Lorem Ipsum is simply dummy text of  printing the typesetting industry Lorem Ipsum.</p>
      <div class="input-wrapper">
        <div class="search-button">
          <img width="100%" height="auto" src="assets/images/icon-search.svg">
        </div>
        <input type="text" placeholder="Buscar">
        <button class="btn accent lg-btn">Buscar</button>
      </div>
    </div>
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/blog-section-one-00-image.png">
    </div>
  </div>
</section>