<!-- router-trasitions -->
<div class="trasition-wrapper"></div>
<div class="trasition-wrapper second-layer"></div>
<!-- #Section 00 -->
<section id="section-00" class="light">
  <div class="container row">
    <div class="half-col d-flex" data-aos="fade" data-aos-delay="1500">
      <h1>Blog</h1>
      <p style="max-width: 480px;">Lorem Ipsum is simply dummy text of  printing the typesetting industry Lorem Ipsum.</p>
      <div class="input-wrapper">
        <div class="search-button">
          <img width="100%" height="auto" src="assets/images/icon-search.svg">
        </div>
        <input type="text" placeholder="Buscar">
        <button class="btn accent lg-btn">Buscar</button>
      </div>
    </div>
    <div class="half-col" data-aos="fade-left" data-aos-delay="2000">
      <img width="100%" height="auto" src="assets/images/blog-section-one-00-image.png">
    </div>
  </div>
</section>
<!-- #Section 01 -->
<section id="section-01" class="image-parallax-card" style="background-image: url('assets/images/image-parallax-training.png')">
  <div class="content" data-aos="fade-down" data-aos-delay="600">
    <h2>Lorem Ipsum is <i class="accent-color">simply dummy</i></h2>
    <p>Lorem Ipsum is simply dummy text  printing and industry Lorem Ipsum has been the industry's</p>
    <span class="icon-link">
      <img src="assets/images/icon-accent-circle-arrow.svg">
      <i>lorem ipsum is simply dummy </i>
    </span>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02" class="light gray">
  <div id="company-products" class="container" data-aos="fade-down" data-aos-delay="600">
    <h2 class="section-title">Lorem Ipsum <i class="accent-color">simply dummy </i></h2>
  </div>
  <app-product-card />
</section>
<!-- #Section 03 -->
<section id="section-03" class="dark skew-section-image">
  <div class="container row">
    <div class="half-col d-flex" data-aos="fade-right" data-aos-delay="600">
      <h2 style="max-width: 575px;">Lorem <i class="accent-color">ipsum is</i></h2>
      <p style="max-width: 500px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>lorem ipsum is simply dummy text printing</i>
      </span>
    </div>
    <div class="half-col">
      <img class="absolute-img r-img" width="100%" height="auto" src="assets/images/image-explanation-00.png" data-aos="fade-left" data-aos-delay="600">
      <div class="white-skew r-skew mobile-hidden"></div>
    </div>
  </div>
</section>
<!-- #Section 04 -->
<section id="section-04">
  <div id="company-articles" class="container" data-aos="fade" data-aos-delay="600">
    <h2>Descubre cómo hemos liderado proyectos  <i class="accent-color">exitosos de formación y reclutamiento</i></h2>
  </div>
  <div id="company-articles-carousel" class="container carousel-wrapper" style="display: block;">
    <app-article-card />
  </div>
  <!-- hr-separator -->
  <img class="hr-separator" width="100%" height="auto" src="assets/images/hr-separator.svg">
  <!-- hr-separator -->
</section>
<!-- #Section 05 -->
<section id="section-05" class="dark">
  <div id="company-testimonials" class="container gradient-dark-card" data-aos="fade" data-aos-delay="600">
    <h2>Lo que dicen nuestros clientes satisfechos <i class="accent-color">en el ámbito empresarial</i></h2>
  </div>
  <div id="company-testimonials-carousel" class="container carousel-wrapper" style="display: block;">
    <app-testimonials-carousel />
  </div>
</section>
<!-- #Section 06 -->
<section id="section-06" class="light">
  <div class="container row">
    <div class="half-col" data-aos="fade-right" data-aos-delay="600">
      <img width="100%" height="auto" src="assets/images/services-section-one-005-image.png">
    </div>
    <div class="half-col d-flex" data-aos="fade-left" data-aos-delay="600">
      <h2 style="max-width: 575px;">Lorem Ipsum is simply duy text of the printing <span class="accent-color">and typesetting industry.</span></h2>
      <p class="p-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised.</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>Ver más</i>
      </span>
    </div>
  </div>
</section>