#section-00 {
  background-image: url('/assets/images/image-section-bg-pattner.png');
  background-size: cover;
  background-repeat: no-repeat;
  .input-wrapper {
    margin-top: 40px;
    width: 100%;
    display: flex;
    gap: 18px;
    position: relative;
    .search-button {
      position: absolute;
      left: 22px;
      top: 16px;
      cursor: pointer;
    }
    input {
      background-color: #EFEFEF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
      border: none;
      border-radius: 10px;
      width: 100%;
      max-width: 406px;
      height: 50px;
      padding: 16px 22px 16px 56px;
      box-sizing: border-box;
    }
    button {
      width: 150px;
      height: 50px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
      font-size: 16px;
    }
  }
}


#section-04 {
  padding-bottom: 90px;
  #company-articles {
    h2 {
      max-width: 800px;
      text-align: center;
      margin: 45px auto 90px auto;
    }
  }
  #company-articles-carousel {
    .carousel-slide-wrapper {
      width: 100%;
      max-width: 412px;
      .article-data {
        padding: 0 12px;
      }
      .article-date {
        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: start;
        color: #616161;
        font-size: 14px;
        margin-top: 25px;
        .date-icon {
          margin: 0 9px 0 0;
        }
      }
      p {
        text-align: left;
        color: #616161;
        font-size: 16px;
        &.article-title {
          color: #232647;
          font-size: 20px;
          font-weight: 600;
          margin-top: 20px;
          margin-bottom: 12px;
        }
      }
      .see-more  {
        display: flex;
        color: #232647;
        font-weight: 700;
        margin-top: 12px;
        cursor: pointer;
        img {
          margin: 0 0 0 12px;
        }
      }
    }
  }
}

#section-05 {
  #company-testimonials {
    h2 {
      max-width: 800px;
      text-align: center;
      margin: 94px auto 45px auto;
    }
  }
  #company-testimonials-carousel {
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 0 75px;
    box-sizing: border-box;
    .carousel-slide-wrapper {
      width: 100%;
      max-width: 280px;
      margin: auto;
      .quote-icon {
        margin-top: 24px;
        margin-bottom: 6px;
      }
      p {
        font-size: 18px;
        margin-bottom: 10px;
        &.testimonial-name {
          font-size: 16px;
          font-weight: 600;
          font-style: italic;
        }
      }
    }
  }
}