.carousel-slide-wrapper {
  width: 100%;
  max-width: 280px;
  margin: auto;
  .quote-icon {
    margin-top: 24px;
    margin-bottom: 6px;
  }
  p {
    font-size: 18px;
    margin-bottom: 10px;
    &.testimonial-name {
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
    }
  }
}