<!-- #Section 01 -->
<section id="section-01" class="dark gradient">
  <div class="container row">
    <div class="half-col d-flex">
      <h1>Oportunidades<br><span class="accent-color">de Carrera</span></h1>
      <p style="max-width: 480px;">Lorem Ipsum is simply dummy text of  printing typesetting industry Lorem Ipsum.</p>
      <button class="btn light-fill lg-btn">Planificar una consulta</button>
    </div>
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/services-section-001.png">
    </div>
  </div>
  <div class="container numbers-container row">
    <div class="four-col numbers-wrapper">
      <span class="numbers">34,349 +</span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span class="numbers">72 %</span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span class="numbers">462 +</span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span class="numbers">83 %</span>
      <p>Lorem Ipsum</p>
    </div>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02" class="image-parallax-card" style="background-image: url('/assets/images/image-parallax-jobs-form.png'); margin-top: 77px;">
  <div class="content">
    <div class="container text-center" style="display: block;">
      <h2 class="md">Sección de <i class="accent-color">Empleo</i></h2>
      <p class="md">Para aquellos que buscan unirse a nuestro equipo talentoso.</p>
    </div>
    <div class="form-wrapper" style="max-width: 710px;">
      <div class="container">
        <div class="half-col input-wrapper">
          <label for="">Nombre<span>*</span></label>
          <input type="text">
        </div>
        <div class="half-col input-wrapper">
          <label for="">Apellido<span>*</span></label>
          <input type="text">
        </div>
      </div>
      <div class="container" style="margin-top: 18px;">
        <div class="half-col input-wrapper">
          <label for="">Correo<span>*</span></label>
          <input type="text">
        </div>
        <div class="half-col input-wrapper">
          <label for="">Opción a postular<span>*</span></label>
          <input type="text">
        </div>
      </div>
      <div class="container form-actions" style="justify-content: center;">
        <button class="btn accent lg-btn" style="width: 244px;">Postular</button>
        <p>¡Ya eres cliente! <i class="accent-color">ingresa aca</i></p>
      </div>
    </div>
  </div>
</section>