#section-00 {
  button {
    margin-top: 40px;
  }
}

#section-01 {
  .icon-link {
    margin-top: 24px;
  }
  #company-values {
    h2 {
      max-width: 945px;
      text-align: center;
      margin: 94px auto 45px auto;
    }
  }
  #company-values-carousel {
    .carousel-slide-wrapper {
      width: 100%;
      max-width: 310px;
      margin: auto;
    }
  }
}

#section-02 {
  #company-testimonials {
    h2 {
      max-width: 800px;
      text-align: center;
      margin: 94px auto 45px auto;
    }
  }
  #company-testimonials-carousel {
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 0 75px;
    box-sizing: border-box;
    .carousel-slide-wrapper {
      width: 100%;
      max-width: 280px;
      margin: auto;
      .quote-icon {
        margin-top: 24px;
        margin-bottom: 6px;
      }
      p {
        font-size: 18px;
        margin-bottom: 10px;
        &.testimonial-name {
          font-size: 16px;
          font-weight: 600;
          font-style: italic;
        }
      }
    }
  }
}

#section-03 {
  #company-entrepreneurs {
    h2 {
      max-width: 800px;
      text-align: center;
      margin: 0 auto 90px auto;
    }
  }
  #company-entrepreneurs-carousel {
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 0 75px;
    box-sizing: border-box;
    .carousel-slide-wrapper {
      width: 100%;
      max-width: 370px;
      border-radius: 20px;
      padding: 34px 50px 50px;
      box-sizing: border-box;
      margin: auto;
      background-image: url('/assets/images/hc-pattner.png');
      background-color: #001F41;
      .cursive {
        font-family: "Alex Brush", cursive;
        font-size: 60px;
        margin-top: -40px;
      }
      .formation  {
        font-size: 48px;
        font-weight: 500;
        margin-top: -20px;
        text-transform: uppercase;
      }
      .skill-box {
        color: #001429;
        background-color: #ffffff;
        font-size: 40px;
        font-weight: 800;
        border-radius: 0 20px;
        margin-left: -50px;
        width: calc(100% + 100px);
      }
      .position {
        font-size: 26px;
        font-weight: 600;
        margin-top: 16px;
      }    
      button {
        margin-top: 38px;
      }
    }
  }
}

#section-04 {
  padding-bottom: 90px;
  #company-articles {
    h2 {
      max-width: 800px;
      text-align: center;
      margin: 45px auto 90px auto;
    }
  }
  #company-articles-carousel {
    .carousel-slide-wrapper {
      width: 100%;
      max-width: 412px;
      .article-data {
        padding: 0 12px;
      }
      .article-date {
        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: start;
        color: #616161;
        font-size: 14px;
        margin-top: 25px;
        .date-icon {
          margin: 0 9px 0 0;
        }
      }
      p {
        text-align: left;
        color: #616161;
        font-size: 16px;
        &.article-title {
          color: #232647;
          font-size: 20px;
          font-weight: 600;
          margin-top: 20px;
          margin-bottom: 12px;
        }
      }
      .see-more  {
        display: flex;
        color: #232647;
        font-weight: 700;
        margin-top: 12px;
        cursor: pointer;
        img {
          margin: 0 0 0 12px;
        }
      }
    }
  }
}

.gradient-dark-card {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,31,65,1) 100%);
  border-radius: 20px
}