<!-- router-trasitions -->
<div class="trasition-wrapper"></div>
<div class="trasition-wrapper second-layer"></div>
<!-- #Section 00 -->
<section id="section-00" class="light">
  <div class="container row">
    <div class="half-col d-flex" data-aos="fade" data-aos-delay="1500">
      <h1 [innerHTML]="'general.we_enhance_talent' | translate"></h1>
      <p style="max-width: 480px;">{{ 'general.building_teams' | translate }}</p>
      <button class="btn accent lg-btn" routerLink="contact">{{ 'general.schedule_consultation' | translate }}</button>
    </div>
    <div class="half-col" data-aos="fade-left" data-aos-delay="2000">
      <img width="100%" height="auto" src="assets/images/home-section-one-potenciamos-talento-image.png">
    </div>
  </div>
</section>
<!-- #Section 01 -->
<section id="section-01" class="dark">
  <div class="gradient-dark-card container row">
    <div class="half-col" data-aos="fade-right" data-aos-delay="600">
      <img width="100%" height="auto" src="assets/images/home-section-one-001-image.png">
    </div>
    <div class="half-col d-flex" data-aos="fade-left" data-aos-delay="600">
      <h2 style="max-width: 575px;">{{ 'general.discover_how_our_training' | translate }}</h2>
      <p>{{ 'general.explore_our_services' | translate }}</p>
      <span routerLink="services" class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>{{ 'navbar.services' | translate }}</i>
      </span>
      <span routerLink="recruitment" class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>{{ 'navbar.recruitment' | translate }}</i>
      </span>
      <span routerLink="training" class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>{{ 'navbar.training' | translate }}</i>
      </span>
    </div>
  </div>
  <!-- hr-separator -->
  <img class="hr-separator" width="100%" height="auto" src="assets/images/hr-separator.svg">
  <!-- hr-separator -->
  <div id="company-values" class="container" data-aos="fade"  data-aos-delay="600">
    <h2 [innerHTML]="'general.we_are_leaders_in_training' | translate"></h2>
  </div>
  <div id="company-values-carousel" class="container carousel-wrapper" style="display: block;">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper dynamic_box" data-aos="fade-down" data-aos-delay="200">
          <img class="auto-img" src="assets/images/image-fortalezas.png">
          <h2>{{ 'general.strengths' | translate }}</h2>
          <p>{{ 'general.strengths_text' | translate }}</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper dynamic_box" data-aos="fade-down" data-aos-delay="500">
          <img class="auto-img" src="assets/images/image-valores.png">
          <h2>{{ 'general.values' | translate }}</h2>
          <p>{{ 'general.values_text' | translate }}</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper dynamic_box" data-aos="fade-down" data-aos-delay="800">
          <img class="auto-img" src="assets/images/image-expertise-clave.png">
          <h2>{{ 'general.key_expertise' | translate }}</h2>
          <p>{{ 'general.key_expertise_text' | translate }}</p>
        </div>
      </ng-template>
    </owl-carousel-o>
    <button routerLink="careers" class="btn accent md-btn" style="margin: 2rem auto;">{{ 'navbar.about_us' | translate}}</button>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02" class="dark">
  <div id="company-testimonials" class="container gradient-dark-card" data-aos="fade"  data-aos-delay="600">
    <h2 [innerHTML]="'general.our_clients_title' | translate"></h2>
  </div>
  <div id="logosCarousel" class="container carousel-wrapper" style="display: block;">
    <owl-carousel-o [options]="logosCarousel">
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/aldro.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/bt.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/cda.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/cos.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/eni.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/kantar.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/lpsos.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/luz_madrid.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/ono.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/orange.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/sanitas.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/sermicro.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/telefonica.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/verne.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/vodafone.png">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="fade-down" data-aos-delay="200">
          <img src="assets/images/logos/zelenda.png">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- hr-separator -->
  <img class="hr-separator" width="100%" height="auto" src="assets/images/hr-separator.svg">
  <!-- hr-separator -->
</section>
<!-- #Section 03 -->
<!-- <section id="section-03" class="dark">
  <div id="company-entrepreneurs" class="container" data-aos="fade"  data-aos-delay="600">
    <h2>{{ 'general.entrepreneurs' | translate }}</h2>
  </div>
  <div id="company-entrepreneurs-carousel" class="container carousel-wrapper" style="display: block;">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="flip-up" data-aos-delay="200">
          <img width="100%" height="auto" src="assets/images/hercules-light-logo.svg">
          <img width="100%" height="auto" src="assets/images/image-entrepreneurs-001.png">
          <p class="cursive">{{ 'general.specialize_in' | translate}}<</p>
          <p class="formation">{{ 'general.formation' | translate}}</p>
          <div class="skill-box">B2B</div>
          <p class="position">{{ 'general.et_recrutement' | translate}}</p>
          <button class="btn accent md-btn">{{ 'general.contact_us' | translate}}</button>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="flip-up" data-aos-delay="500">
          <img width="100%" height="auto" src="assets/images/hercules-light-logo.svg">
          <img width="100%" height="auto" src="assets/images/image-entrepreneurs-002.png">
          <p class="cursive">{{ 'general.specialize_in' | translate}}<</p>
          <p class="formation">{{ 'general.formation' | translate}}</p>
          <div class="skill-box accent-color">B2B</div>
          <p class="position">{{ 'general.et_recrutement' | translate}}</p>
          <button class="btn accent md-btn">{{ 'general.contact_us' | translate}}</button>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper" data-aos="flip-up" data-aos-delay="800">
          <img width="100%" height="auto" src="assets/images/hercules-light-logo.svg">
          <img width="100%" height="auto" src="assets/images/image-entrepreneurs-001.png">
          <p class="cursive">{{ 'general.specialize_in' | translate}}<</p>
          <p class="formation">{{ 'general.formation' | translate}}</p>
          <div class="skill-box">B2B</div>
          <p class="position">{{ 'general.et_recrutement' | translate}}</p>
          <button class="btn accent md-btn">{{ 'general.contact_us' | translate}}</button>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section> -->
<!-- #Section 04 -->
<!-- <section id="section-04">
  <div id="company-articles" class="container" data-aos="fade"  data-aos-delay="600">
    <h2 [innerHTML]="'general.projects_led_title' | translate"></h2>
  </div>
  <div id="company-articles-carousel" class="container carousel-wrapper" style="display: block;">
    <app-article-card />
  </div>
  <img class="hr-separator" width="100%" height="auto" src="assets/images/hr-separator.svg">
</section> -->