<!-- #Section 00 -->
<section id="section-00" class="light">
  <div class="container row">
    <div class="half-col d-flex">
      <h1>Potenciamos talento a través de <span class="accent-color">formación y reclutamiento</span></h1>
      <p style="max-width: 480px;">Construyendo equipos exitosos y desarrollando habilidades de vanguardia</p>
      <button class="btn accent lg-btn">Solicitar un presupuesto</button>
    </div>
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/home-section-one-potenciamos-talento-image.png">
    </div>
  </div>
</section>
<!-- #Section 01 -->
<section id="section-01" class="dark">
  <div class="gradient-dark-card container row">
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/home-section-one-001-image.png">
    </div>
    <div class="half-col d-flex">
      <h2 style="max-width: 575px;">Descubre cómo nuestra formación y reclutamiento transforman empresas</h2>
      <p>Explora a fondo nuestros servicios personalizados.</p>
      <span class="icon-link">
        <img src="assets/images/icon-accent-circle-arrow.svg">
        <i>Explora Nuestros Servicios y Desbloquea Tu Potencial Ahora</i>
      </span>
    </div>
  </div>
  <!-- hr-separator -->
  <img class="hr-separator" width="100%" height="auto" src="assets/images/hr-separator.svg">
  <!-- hr-separator -->
  <div id="company-values" class="container">
    <h2>Somos líderes en formación y reclutamiento, <i class="accent-color">impulsados por valores y experiencia</i></h2>
  </div>
  <div id="company-values-carousel" class="container carousel-wrapper" style="display: block;">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img class="auto-img" src="assets/images/image-fortalezas.png">
          <h2>Fortalezas</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and the in typesetting industry.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img class="auto-img" src="assets/images/image-valores.png">
          <h2>Valores</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and the in typesetting industry.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img class="auto-img" src="assets/images/image-expertise-clave.png">
          <h2>Expertise clave</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and the in typesetting industry.</p>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02" class="dark">
  <div id="company-testimonials" class="container gradient-dark-card">
    <h2>Lo que dicen nuestros clientes satisfechos <i class="accent-color">en el ámbito empresarial</i></h2>
  </div>
  <div id="company-testimonials-carousel" class="container carousel-wrapper" style="display: block;">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img width="100%" height="auto" src="assets/images/image-testimonial-001.png">
          <img class="auto-img quote-icon" src="assets/images/icon-quotation.svg">
          <p>Lorem Ipsum is simply dummy text of the printing and the in typesetting industry.</p>
          <p class="testimonial-name">Jhoarling Reina</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img width="100%" height="auto" src="assets/images/image-testimonial-002.png">
          <img class="auto-img quote-icon" src="assets/images/icon-quotation.svg">
          <p>Lorem Ipsum is simply dummy text of the printing and the in typesetting industry.</p>
          <p class="testimonial-name">Maicol Duran</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img width="100%" height="auto" src="assets/images/image-testimonial-003.png">
          <img class="auto-img quote-icon" src="assets/images/icon-quotation.svg">
          <p>Lorem Ipsum is simply dummy text of the printing and the in typesetting industry.</p>
          <p class="testimonial-name">Natalia Lopez</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img width="100%" height="auto" src="assets/images/image-testimonial-004.png">
          <img class="auto-img quote-icon" src="assets/images/icon-quotation.svg">
          <p>Lorem Ipsum is simply dummy text of the printing and the in typesetting industry.</p>
          <p class="testimonial-name">Leonardo Duran</p>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- hr-separator -->
  <img class="hr-separator" width="100%" height="auto" src="assets/images/hr-separator.svg">
  <!-- hr-separator -->
</section>
<!-- #Section 03 -->
<section id="section-03" class="dark">
  <div id="company-entrepreneurs" class="container">
    <h2>Emprendedores</h2>
  </div>
  <div id="company-entrepreneurs-carousel" class="container carousel-wrapper" style="display: block;">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img width="100%" height="auto" src="assets/images/hercules-light-logo.svg">
          <img width="100%" height="auto" src="assets/images/image-entrepreneurs-001.png">
          <p class="cursive">Specialise en</p>
          <p class="formation">formation</p>
          <div class="skill-box">B2B</div>
          <p class="position">ET RECRUTEMENT</p>
          <button class="btn accent md-btn">Contact us</button>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img width="100%" height="auto" src="assets/images/hercules-light-logo.svg">
          <img width="100%" height="auto" src="assets/images/image-entrepreneurs-002.png">
          <p class="cursive">Specialise en</p>
          <p class="formation">formation</p>
          <div class="skill-box accent-color">B2B</div>
          <p class="position">ET RECRUTEMENT</p>
          <button class="btn accent md-btn">Contact us</button>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-slide-wrapper">
          <img width="100%" height="auto" src="assets/images/hercules-light-logo.svg">
          <img width="100%" height="auto" src="assets/images/image-entrepreneurs-001.png">
          <p class="cursive">Specialise en</p>
          <p class="formation">formation</p>
          <div class="skill-box">B2B</div>
          <p class="position">ET RECRUTEMENT</p>
          <button class="btn accent md-btn">Contact us</button>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>