<!-- #Section 01 -->
<section id="section-01" class="dark gradient">
  <div class="container row">
    <div class="half-col d-flex">
      <h1>Servi<span class="accent-color">cios</span></h1>
      <p style="max-width: 480px;">Lorem Ipsum is simply dummy text of  printing typesetting industry Lorem Ipsum.</p>
      <button class="btn light-fill lg-btn">Planificar una consulta</button>
    </div>
    <div class="half-col">
      <img width="100%" height="auto" src="assets/images/services-section-001.png">
    </div>
  </div>
  <div class="container numbers-container row">
    <div class="four-col numbers-wrapper">
      <span class="numbers">34,349 +</span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span class="numbers">72 %</span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span class="numbers">462 +</span>
      <p>Lorem Ipsum</p>
    </div>
    <div class="four-col numbers-wrapper">
      <span class="numbers">83 %</span>
      <p>Lorem Ipsum</p>
    </div>
  </div>
</section>
<!-- #Section 02 -->
<section id="section-02">
  <div id="company-training" class="container">
    <h2 class="section-title">Nuestra <i class="accent-color">Formación</i></h2>
  </div>
  <app-info-card [data]="trainingData" />
</section>
<!-- #Section 03 -->
<section id="section-03" class="light gray">
  <div id="company-products" class="container">
    <h2 class="section-title">Lorem Ipsum <i class="accent-color">simply dummy </i></h2>
  </div>
  <app-product-card />
</section>
<!-- #Section 04 -->
<section id="section-04">
  <div id="company-recruitment" class="container">
    <h2 class="section-title">Nuestro <i class="accent-color">Nuestro Reclutamiento</i></h2>
  </div>
  <app-info-card [data]="recruitmentData" />
</section>