<owl-carousel-o [options]="articlesCarousel">
  @for (article of articlesData; track article.id; let i = $index) {
    <ng-template carouselSlide>
      <div class="carousel-slide-wrapper" data-aos="fade-down" [ngStyle]="{'transition-delay': 250 * (i + 1) + 'ms'}">
        <img width="100%" height="auto" [src]="'assets/images/' + article.image">
        <div class="article-data">
          <div class="article-date">
            <img class="auto-img date-icon" src="assets/images/icon-calendar.svg">
            {{ article.date }}
          </div>
          <p class="article-title">{{ article.title | translate }}</p>
          <p>{{ article.content }}</p>
          <div class="see-more">
            {{ 'general.see_more' | translate }}
            <img class="auto-img seemore-icon" src="assets/images/icon-next-arrow.svg">
          </div>
        </div>
      </div>
    </ng-template>
  }
</owl-carousel-o>