<nav>
  <div class="container">
    <div class="mobile-menu-icon desktop-hidden" (click)="toggleMobileMenu()">
      <img src="assets/images/menu-burger-horizontal.svg">
    </div>
    <div class="logo">
      <img src="assets/images/hercules-light-logo.svg" alt="Hercules Consulting">
    </div>
    <ul class="top-menu mobile-hidden">
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'navbar.home' | translate }}</li>
      <li routerLink="services" routerLinkActive="active">{{ 'navbar.services' | translate }}</li>
      <li routerLink="training" routerLinkActive="active">{{ 'navbar.training' | translate }}</li>
      <li routerLink="recruitment" routerLinkActive="active">{{ 'navbar.recruitment' | translate }}</li>
      <li routerLink="careers" routerLinkActive="active">{{ 'navbar.about_us' | translate }}</li>
      <li routerLink="contact" routerLinkActive="active">{{ 'navbar.contact' | translate }}</li>
    </ul>
    <div class="right-actions">
      <div class="lang-selector mobile-hidden" (click)="openLangDropdown = !openLangDropdown">
        @if (currentLang === 'es') {
          <img src="assets/images/icon-spain-flag.svg">
        }

        @if (currentLang === 'en') {
          <img src="assets/images/icon-en-flag.png">
        }
      </div>
      @if (openLangDropdown) {
        <div class="lang-dropdown">
          <ul>
            <li (click)="setTransLanguage('es')" [ngClass]="{'active': currentLang === 'es'}">ES</li>
            <li (click)="setTransLanguage('en')" [ngClass]="{'active': currentLang === 'en'}">EN</li>
          </ul>
        </div>
      }
      <button class="btn light outline header-btn">{{ 'general.request_quote' | translate }}</button>
    </div>
  </div>
</nav>

@if (mobileMenuIsOpen) {
  <div class="mobile-menu-list desktop-hidden">
    <div class="close-menu" (click)="toggleMobileMenu()">
      <img src="assets/images/icon-close-menu.svg">
    </div>
    <div class="lang-selector" (click)="openLangDropdown = !openLangDropdown">
      @if (currentLang === 'es') {
        <img src="assets/images/icon-spain-flag.svg">
      }

      @if (currentLang === 'en') {
        <img src="assets/images/icon-en-flag.png">
      }
    </div>
    @if (openLangDropdown) {
      <div class="lang-dropdown">
        <ul>
          <li (click)="setTransLanguage('es')" [ngClass]="{'active': currentLang === 'es'}">ES</li>
          <li (click)="setTransLanguage('en')" [ngClass]="{'active': currentLang === 'en'}">EN</li>
        </ul>
      </div>
    }
    <ul>
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ 'navbar.home' | translate }}</li>
      <li routerLink="services" routerLinkActive="active">{{ 'navbar.services' | translate }}</li>
      <li routerLink="training" routerLinkActive="active">{{ 'navbar.training' | translate }}</li>
      <li routerLink="recruitment" routerLinkActive="active">{{ 'navbar.recruitment' | translate }}</li>
      <li routerLink="careers" routerLinkActive="active">{{ 'navbar.about_us' | translate }}</li>
      <li routerLink="contact" routerLinkActive="active">{{ 'navbar.contact' | translate }}</li>
    </ul>
    <div class="right-actions text-center">
      <button class="btn light outline header-btn">{{ 'general.request_quote' | translate }}</button>
    </div>
  </div>
}