/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

section {
  padding: 50px 0;
  &.dark {
    background-color: #001429;
    color: #ffffff;
  }
  &.light {
    color: #232647;
    p {
      color: #616161;
    }
  }
  &.gray {
    background-color: #F6F6F6;
  }
  .icon-link {
    margin-top: 24px;
  }
  h2.section-title {
    margin: 45px auto 90px auto;
    @media (max-width: 576px) {
      margin: 40px auto;
    }
  }
  @media (max-width: 576px) {
    padding: 50px 25px;
  }
}

.container {
  width: 100%;
  max-width: 1366px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  .half-col {
    flex-basis: 50%;
    &.d-flex{
      display: flex;
      flex-direction: column;
      align-items: start;
      @media (max-width: 992px) {
        align-items: center;
        text-align: center;
      }
    }
  }
  .three-col {
    flex-basis: 33.33%;
  }
  .four-col {
    flex-basis: 25%;
  }
  &.row {
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
}

.hr-separator {
  max-width: 1366px;
  margin: 0 auto;
  display: block;
}

.carousel-wrapper {
  display: block;
  text-align: center;
  h2 {
    font-size: 30px;
  }
  img {
    &.auto-img {
      width: auto;
      height: auto;
      margin: auto;
    }
  }
}

button {
  font-family: "Poppins", sans-serif !important;
  cursor: pointer;
  font-family: inherit;
  border: none;
  height: 58px;
  &.btn {
    &.accent {
      background-color: #04E3FF;
      color: #001429;
    }
    &.light-fill {
      background-color: #ffffff;
      color: #001429;
    }
    &.light {
      color: #ffffff;
    }
    &.outline {
      background-color: transparent;
      border: 1px solid;
    }
  }
  &.lg-btn {
    width: 326px;
    border-radius: 326px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }
  &.md-btn {
    width: 218px;
    border-radius: 218px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }
  &.sm-btn {
    width: 190px;
    border-radius: 190px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
  }
  &.header-btn {
    font-size: 14px;
    height: 46px;
    width: 224px;
    border-radius: 224px;
  }
}

h1 {
  font-size: 50px;
  margin: 0 0 19px;
  .accent-color {
    color: #04E3FF;
    font-weight: 900;
  }
  @media (max-width: 576px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 34px;
  margin: 0 0 15px;
  .accent-color {
    color: #04E3FF;
    font-weight: 500;
  }
  @media (max-width: 576px) {
    font-size: 24px;
  }
}

p {
  width: 100%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  &.p-md {
    font-size: 16px;
  }
  @media (max-width: 576px) {
    font-size: 16px;
  }
}

a  {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.text-center {
  text-align: center;
}

.accent-color {
  color: #04E3FF !important;
}

.icon-link {
  color: #04E3FF;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  img {
    margin-right: 15px;
    @media (max-width: 576px) {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.mobile-hidden {
  @media (max-width: 992px) {
    display: none !important;
  }
}

.desktop-hidden {
  @media (min-width: 992px) {
    display: none !important;
  }
} 

.numbers-container {
  flex-wrap: wrap;
  @media (max-width: 992px) {
    flex-direction: row !important;
  }
}

.numbers-wrapper {
  text-align: center;
  margin-bottom: 40px;
  span {
    font-size: 60px;
    font-weight: 800;
    color: #04E3FF;
    @media (max-width: 576px) {
      font-size: 30px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 40px;
    }
  }
  p {
    font-size: 18px;
  }
  @media (max-width: 992px) {
    flex-basis: 50% !important;
  }
}

.image-parallax-card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  min-height: 664px;
  padding: 90px;
  color: #ffffff;
  &::before {
    content: "";
    position: absolute;
    background: rgba(0, 20, 41, 0.5);;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .content {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media (max-width: 576px) {
      padding: 0 25px;
      width: calc(100% - 50px);
    }
    h2 {
      font-size: 50px;
      margin-bottom: 20px;
      &.md {
        font-size: 40px;
        margin-bottom: 16px;
      }
      @media (max-width: 576px) {
        font-size: 30px !important;
      }
    }
    p {
      max-width: 910px;
      margin: 0 auto;
      font-size: 26px;
      &.md {
        font-size: 20px;
        margin-bottom: 16px;
      }
      @media (max-width: 576px) {
        font-size: 16px !important;
      }
    }
  }
}

.skew-section-image {
  display: flex;
  position: relative;
  @media (min-width: 1366px) {
    height: 450px;
  } 
  @media (min-width: 992px) and (max-width: 1366px) {
    min-height: 366px;
  }
  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
  .absolute-img {
    width: 100%;
    height: auto;
    top: 0;
    z-index: 2;
    @media (min-width: 992px) {
      position: absolute;
      width: auto;
      height: 100%;
    }
    &.r-img {
      right: 90px;
      @media (max-width: 992px) {
        margin-top: 40px;
        margin-bottom: -200px;
      }
    }
    &.l-img {
      left: 90px;
    }
  }
  .white-skew {
    height: 100%;
    width: 624px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    transform-origin: left bottom;
    @media (min-width: 992px) and (max-width: 1366px) {
      width: 542px;
    }
    &.r-skew {
      right: 0;
      -ms-transform: skew(330.5deg, 0deg);
      -webkit-transform: skew(330.5deg, 0deg);
      transform: skew(330.5deg, 0deg);
    }
    &.l-skew {
      left: 0;
      -ms-transform: skew(29.5deg, 0deg);
      -webkit-transform: skew(29.5deg, 0deg);
      transform: skew(29.5deg, 0deg);
    }
  }
}


.form-wrapper {
  width: 100%;
  .container {
    gap: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .input-wrapper {
    text-align: left;
    box-sizing: border-box;
    @media (max-width: 768px) {
      width: 100%;
    }
    label  {
      color: #A0A0A0;
      line-height: 28px;
      margin-left: 13px;
      span {
        color: #DD2E30;
      }
    }
    input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 14px;
      height: 50px;
      padding: 12px 24px;
    }
  }
  .form-actions {
    flex-direction: column; gap: 0;
    button {
      margin: 50px 0 40px 0;
    }
    p {
      font-size: 16px;
      i {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.gradient-dark-card {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,31,65,1) 100%);
  border-radius: 20px
}

.video-wrapper {
  border-radius: 14px;
  margin-bottom: 40px;
}


.trasition-wrapper {
  position: absolute;
  z-index: 10;
  width: 100vw;
  background-color: #04E3FF;
  animation: route-height-transition 1s;
  &.light {
    background-color: #ffffff;
  }
  &.second-layer {
    background-color: #001429;
    animation: route-height-transition 1.5s;
    animation-delay: .5s;
  }
}

@keyframes route-height-transition {
  0% {
    top: 100vh;
    height: 100vh;
  }
  25% {
    top: 0;
  }
  50% {
    top: 0;
    height: 100vh;
  }
  100% {
    top: 0;
    height: 0;
  }
}